<!DOCTYPE HTML>
<html>
	<head>
		<title>Hack Cambridge 2016</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
<body>

	<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<div style="margin-top:-5em;margin-bottom:2em;"><span text-align="center"><img width="70%" src="static/img/logo.png"></span></div>
					<br>
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Register</a></li>
							<li><a href="#two">How it works</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" style='background-image: url("static/img/intro.png");' class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Clear Pass</h1>
							<p>We provide the best security for your online logins.<br>
							Use your biometrics to authenticate anywhere, with any device.<br>Start using it now.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Start here</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<div class="content">
								<div class="inner">
									<h2>Register</h2>
									<p>Pick a username and follow the instructions on your device to input your biometric data.</p>
									<ul class="actions">
										<li><a href="#" class="button">Register</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>How it works</h2>
							<p>After clicking the button you will have 5 minutes to complete the authentication process with your device.</p>
							<div class="features">
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>Works with any device</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Top security</h3>
									<p>We use your fingerprint to provide a secure way of verifying your identity. </p>
								</section>
								<section>
									<span class="icon major fa-video-camera"></span>
									<h3>Use your video camera</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-qrcode"></span>
									<h3>Scan QR Code</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-code"></span>
									<h3>Easy to Integrate</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Simple Configuration</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>If you need help with implementation of our service at your website, let us know. <br> We will do our best to assist you.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>Left Corner, Next to the Stage<br />
											Cambridge Corn Exchange<br />
											Table 1A</span>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Hack Cambridge 2016</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

</body>

    
